@charset "utf-8";

/*公用部分*/

a {
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    text-decoration: none;
}
a:hover{ text-decoration: none;}
a {
    /*background-color: transparent;*/
    color: #62a8ea;
}

*, :after, :before {
    box-sizing: border-box;
}
li{list-style: none;}

body, html{
	width: 100%;
    min-width: 320px;
    max-width: 100%;
    height: auto;
}

body{
	min-height: 100%;
    overflow-x: hidden;
    font: 14px/1.5 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif;
}



.met-index-body{padding: 40px 0 30px;}
.met-index-body h3 {
    font-size: 32px;
    margin-top: 0;
    text-align: center;
    font-weight: 300;
    margin-bottom: 43px;
}
.met-index-body h3 a {
    color: #323232;
    position: relative;
    display: block;
}
.met-index-body h3 a:after, .met-index-body h3 a:before{
    background: #ccc;
    height: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    content: "";
}

.met-index-body h3 a:before{
    width: 80px;
    bottom: -22px;
    position: absolute;
}

.met-index-body h3 a:after{
    width: 50px;
    bottom: -25px;
    position: absolute;
}

.met-index-body p.desc {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #686868;
    margin: 0 auto 40px;
    width: auto;
    letter-spacing: 2px;
}

@media (max-width:991px){
	.met-index-body{padding: 30px 0 20px;}
	.met-index-body h3{
	    font-size: 24px;
	    margin-bottom: 33px;
	}
	.met-index-body h3 a:before{bottom: -16px;}
	.met-index-body h3 a:after{bottom: -19px;}
	.met-index-body p.desc {
	    margin-bottom: 30px;
	    font-size: 14px;
	}
	
	
	
}

@media (max-width:767px){
	.met-index-body{padding: 20px 0 10px;}
	.met-index-body h3{
	    font-size: 20px;
	    margin-bottom: 28px;
	}
	.met-index-body h3 a:before{ bottom: -14px;}
	.met-index-body h3 a:after{bottom: -17px;}
	.met-index-body p.desc {margin-bottom: 20px;}
	
	
	
	
	
}

@media (max-width: 358px){
	.met-index-body {
   		 padding: 20px 0;
	}
}



/*导航栏*/
.econav{
	width: 100%;
	position: relative;
}
.navbar{
	height: 60px;
	margin: 0;
	background: #fff;
	border: none;
}
.navbar-brand img{height: 60px;}
.navbar-brand{padding: 0;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background: #fff;
	color: #f39c12;
}

.navbar-default .navbar-nav > li > a{
	background: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #fff !important;
	color: #f39c12;
}

.scrollT{
	position: fixed;
	top: 0;
	left 0;
	background: rgba(255,255,255,0.1);
	z-index: 99999;
}

.search-content{
	padding: 0;
	position: absolute;
	top: 33px;
	left: 0;
	z-index: 100;
	width: 167px;
	border: 1px solid #ccc;
	border-top: none;
}

.search-content li:first-child{
	padding-top: 5px;
}
.search-content li a{
	text-decoration: none;
	color: #333;
	padding-left: 8px;
	font-size: 14px;
	text-align: left;
}

.search-content li a:hover{
	color: #f00;
}






/*轮播图*/
.main-slider{margin-top: 60px;}
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}​



/*我们的产品*/
#case ul{
	position: relative;
    /*height: 680px;*/
    perspective-origin: 50% 764px;
}

.met-grid li.shown {
    opacity: 1;
    filter: alpha(opacity=100);
}

.overlay {
    position: relative;
    max-width: 100%;
    margin: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
}

@media (min-width:768px) {
	.met-index-case .container-fluid {
		padding-right: 0;
		padding-left: 0
	}
}

.met-index-case [class^=blocks] {
	margin-right: -5px;
	margin-left: -5px
}

.met-index-case [class^=blocks] li {
	margin-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px
}

.met-index-case .single-advisor .img-holder {
	position: relative;
	overflow: hidden
}

.met-index-case .single-advisor .img-holder img {
	width: 100%;
	height: 100%
}

.met-index-case .single-advisor .img-holder a {
	color: #fff
}

.met-index-case .single-advisor .img-holder .overlays {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .85);
	text-align: center;
	opacity: 0;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease
}

.met-index-case .single-advisor .img-holder .overlays .inner {
	display: table;
	width: 100%;
	height: 100%;
	position: relative
}

.met-index-case .single-advisor .img-holder .overlays .inner .social {
	display: table-cell;
	vertical-align: top;
	position: relative;
	padding: 20px 30px 30px;
	overflow: hidden;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease
}

.met-index-case .single-advisor .img-holder .overlays .inner .social h4 {
	text-align: left;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0;
	margin-bottom: 10px;
	color: #323232
}

.met-index-case .single-advisor .img-holder .overlays .inner .social p {
	height: 146px;
	overflow: hidden;
	display: block;
	clear: both;
	text-align: left;
	padding-top: 10px;
	font-size: 14px;
	line-height: 28px;
	color: #323232
}

.met-index-case .single-advisor:hover .img-holder img.overlay-scale {
	-webkit-transform: scale(1.02, 1.02);
	-moz-transform: scale(1.02, 1.02);
	-o-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease
}

.met-index-case .single-advisor:hover .img-holder .overlays {
	opacity: 1
}

.met-index-case .single-advisor:hover .img-holder .overlays .inner .social {
	padding-top: 30px
}

@media (max-width:767px) {
	.met-index-case .social {
		padding: 10px 20px!important
	}
	.met-index-case .social p {
		height: 88px!important
	}
}



/*视频宣传*/
.met-index-video {
	position: relative
}

.met-index-video .wp-wrapper {
	background: url(../img/video_bg.jpg);
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	min-height: 340px;
	position: relative
}

.met-index-video .wp-wrapper:after {
	content: "";
	background: #f4f4f4;
	width: 100%;
	height: 100%;
	left: -40px;
	top: -40px;
	bottom: 40px;
	position: absolute;
	z-index: -1;
	overflow: hidden
}

.met-index-video .wp-wrapper .wpb-wrapper {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px
}

.met-index-video .wp-wrapper .wpb-wrapper .dt-play-video {
	position: relative;
	text-align: center;
	margin: auto;
	display: inline-block;
	background: #fff;
	padding: 9px 12px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #323232
}

.met-index-video .wp-wrapper .wpb-wrapper .dt-play-video:hover {
	color: #fff;
	background: #f39c12
}

.met-index-video .wp-wrapper .wpb-wrapper .dt-play-video i {
	font-size: 14px;
	padding-left: 5px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent #292929;
}


.met-index-video .video-right {
	padding: 10px 40px
}

.met-index-video .video-right .wpb-wrapper {
	line-height: 28px;
	font-weight: 300;
	padding-bottom: 20px;
	color: #656565;
	font-size: 14px;
	height: 250px;
	overflow: hidden
}

@media (max-width:979px) {
	.met-index-video .wp-wrapper {
		margin-left: 0;
		min-height: 0
	}
	.met-index-video .wp-wrapper .wpb-wrapper {
		padding-top: 150px;
		padding-bottom: 150px
	}
	.met-index-video .wp-wrapper:after {
		left: 0;
		top: 0
	}
	.met-index-video .video-right {
		padding: 0
	}
	.met-index-video .video-right .wpb-wrapper {
		line-height: 28px;
		padding-bottom: 0;
		height: auto;
		margin-bottom: -20px
	}
}

@media (max-width:767px) {
	.met-index-video .wp-wrapper .wpb-wrapper {
		padding-top: 100px;
		padding-bottom: 100px
	}
}



/*关于我们*/
.met-index-about{
	padding: 0;
	margin: 10px 60px;
	background-color: #fafafa;
}

@media (min-width:768px) {
	.met-index-about .container-fluid {
		padding-right: 0;
		padding-left: 0
	}
}

.met-index-about ul li{
	margin-bottom: 0;
}

.met-index-about .wp-wrapper {
	padding-top: 250px;
	padding-bottom: 250px;
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	position: relative;
	background: #fafafa url(../img/1495166274.jpg);
}

.met-index-about .about-right {
	padding: 80px 40px 0;
	box-sizing: border-box;
}

.met-index-about .about_right img {
	max-width: 80px
}

.met-index-about .about-right .wpb-wrapper {
	line-height: 28px;
	font-weight: 300;
	padding-bottom: 20px;
	color: #656565;
	font-size: 14px;
	overflow: hidden
}

.met-index-about .about-right .wpb-wrapper .dt-about-elem {
	position: relative;
	margin-bottom: 20px!important;
	min-height: 98px
}

.met-index-about .about-right .wpb-wrapper .dt-about-elem .dt-about-icon {
	margin-right: 30px;
	float: left;
	display: inline-block;
	overflow: hidden
}

.met-index-about .about-right .wpb-wrapper .dt-about-elem .dt-about-icon span {
	display: block;
	position: relative;
	width: 78px;
	height: 78px;
	line-height: 78px;
	font-size: 32px;
	color: #f39c12;
	border: 1px solid #f39c12;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	background: 0 0
}
.icon-layers:before {
    content: "";
    display: block;
    width: 42px;
    height: 39px;
    background: url(../img/shu.png) no-repeat center;
    position: absolute;
    left: 16px;
    top: 19px;
}
.met-index-about .about-right .wpb-wrapper .dt-about-elem .dt-about-content {
	overflow: hidden
}

.met-index-about .about-right .wpb-wrapper .dt-about-elem .dt-about-content .dt-about-title {
	letter-spacing: 1.5px;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #323232;
	font-style: normal
}

.met-index-about .about-right .wpb-wrapper .dt-about-elem .dt-about-content p {
	line-height: 18px;
	font-weight: 300;
	font-style: normal;
	color: #656565;
	font-size: 14px
}

@media (max-width:767px) {
	.met-index-about .wp-wrapper {
		float: none!important;
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 130px;
		padding-bottom: 130px
	}
	
	.met-index-about .about-right {
		padding: 40px 0 0;
		float: none!important
		/*height: 260px;*/
		margin: 0;
		box-sizing: border-box;
	}
	.met-index-about .about-right .wpb-wrapper {
		line-height: 28px;
		padding-bottom: 20px
	}
}


/*联系我们*/
.met-index-ecocontact{
	color: #fff;
	position: relative
}
.met-index-ecocontact.met-index-body{padding: 0;}
.met-index-ecocontact .container-fluid > div{
	padding-top: 50px;
	padding-bottom: 50px;
	background: #212121;
}
.met-index-ecocontact .dazzle-cta {
	text-align: center;
}

.met-index-ecocontact .dazzle-cta h3 {
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	margin-bottom: 15px;
	font-weight: 300;
	letter-spacing: .5px
}

.met-index-ecocontact .dazzle-cta a.smooth-scroll {
	color: #fff;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	padding-bottom: 3px
}



/*数据统计*/
.met-index-econum {
	padding: 40px 0;
	text-align: center;
	position: relative;
	background: url(../img/1495166440.jpg);
	background-attachment: fixed!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important
}

.met-index-econum:before {
	content: " ";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(255, 255, 255, .8)
}

.met-index-econum [class*=blocks] li {
	clear: none
}

.met-index-econum [class*=blocks] li .counter-item {
	display: block;
	text-align: center;
	position: relative;
	padding: 35px 25px
}

.met-index-econum [class*=blocks] li .counter-item .counter-econumber {
	font-size: 46px;
	width: 100%;
	display: inline-block;
	line-height: 56px;
	color: #323232;
	margin-bottom: 15px;
	font-weight: 500
}

.met-index-econum [class*=blocks] li .counter-item .zig-zag {
	background: url('data:image/svg+xml;utf-8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 150" enable-background="new 0 0 100 100" fill="#999" xml:space="preserve"><g><polygon points="84.586,67.414 50,32.829 15.414,67.414 12.586,64.586 50,27.171 87.414,64.586"/></g></svg>');
	display: block;
	height: 20px;
	width: 50px;
	margin: auto auto 6px
}

.met-index-econum [class*=blocks] li .counter-item .counter-text {
	text-align: center;
	clear: both;
	font-size: 20px;
	color: #656565
}

.met-index-econum [class*=blocks] li .counter-item a,
.met-index-econum [class*=blocks] li .counter-item a:active,
.met-index-econum [class*=blocks] li .counter-item a:focus,
.met-index-econum [class*=blocks] li .counter-item a:hover {
	text-decoration: none
}

@media (max-width:767px) {
	.met-index-econum {
		background-attachment: inherit!important
	}
	.met-index-econum [class^=blocks] {
		margin-right: -5px;
		margin-left: -5px
	}
	.met-index-econum [class^=blocks] li {
		margin-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px
	}
	.met-index-econum [class^=blocks] li .counter-item {
		padding: 20px 15px
	}
	.met-index-econum [class^=blocks] li .counter-item .counter-number {
		margin-top: 10px;
		margin-bottom: 15px
	}
	.met-index-econum [class^=blocks] li .counter-item .counter-text {
		line-height: 28px
	}
}


/*博客博文*/
.met-index-news {
	background-color: #fafafa;
	padding-bottom: 0;
	z-index: 100
}
.met-index-news .img-holder {
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease
}

.met-index-news .img-holder .cover {
	margin-bottom: 25px
}

.met-index-news .img-holder .details {
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

.met-index-news .img-holder .details>span {
	font-size: 1em;
	color: #999;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 400;
	display: block;
	margin-bottom: 20px
}

.met-index-news .img-holder .details>span:after {
	width: 30px;
	height: 1px;
	display: block;
	background: #ebebeb;
	content: "";
	padding: 0 10px
}

.met-index-news .img-holder .details h4 {
	margin-bottom: 20px!important
}

.met-index-news .img-holder .details h4 a span {
	font-weight: 700;
	font-size: 16px;
	color: #323232;
	line-height: 28px;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s
}

.met-index-news .img-holder .details h4 a:hover span {
	border-bottom: 1px solid #323232
}

.met-index-news .img-holder .details p {
	font-size: 14px;
	line-height: 22px;
	color: #999
}

.overlay .overlay-figure, .overlay > :first-child {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.overlay-scale {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}

.overlay-hover:hover .overlay-scale {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.met-index-news img{display: inline-block;}

.met-index-news #news-grid {
	position: relative;	
}


.met-index-news #news-grid li{
	position: absolute;
	box-sizing: border-box;
	/*top: 0;
	left: 0;*/
}


/*联系我们*/
.met-index-bottomcontact [class*=blocks] li .counter-item {
	display: block;
	text-align: center;
	position: relative;
	padding: 10px 5px
}

.met-index-bottomcontact [class*=blocks] li .counter-item .counter-number {
	font-size: 16px;
	width: 100%;
	display: inline-block;
	line-height: 32px;
	color: #323232;
	margin-bottom: 15px;
	font-weight: 700
}

.met-index-bottomcontact [class*=blocks] li .counter-item .counter-number:after {
	content: "";
	margin: 10px auto 5px;
	width: 30px;
	height: 1px;
	background: #b4b4b4;
	display: block
}

.met-index-bottomcontact [class*=blocks] li .counter-item .counter-text {
	text-align: center;
	clear: both;
	font-size: 14px;
	color: #656565;
	line-height: 28px
}

.met-index-bottomcontact .get-touch {
	background: #fafafa;
	padding: 40px 75px 20px!important
}

.met-index-bottomcontact .get-touch .small-title {
	margin-bottom: 10px;
	text-align: center
}

.met-index-bottomcontact .get-touch .small-title:after {
	content: "";
	margin: 10px auto 5px;
	width: 30px;
	height: 1px;
	background: #b4b4b4;
	display: block
}

.met-index-bottomcontact .get-touch .small-title a {
	line-height: 28px;
	font-weight: 700;
	font-style: normal;
	color: #323232;
	font-size: 16px;
	letter-spacing: 1px
}

.met-index-bottomcontact .get-touch p.desc {
	margin-bottom: 20px
}

.met-index-bottomcontact .get-touch form {
	padding: 0 20px 20px 10px;
	text-align: center
}

.met-index-bottomcontact .get-touch form button,
.met-index-bottomcontact .get-touch form input,
.met-index-bottomcontact .get-touch form select,
.met-index-bottomcontact .get-touch form textarea {
	color: #323232;
	font-size: 14px;
	line-height: 24px;
	height: 40px;
	padding: 6px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #d1d1d1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box
}

.met-index-bottomcontact .get-touch form button:focus,
.met-index-bottomcontact .ge-touch form input:focus,
.met-index-bottomcontact .get-touch form select:focus,
.met-index-bottomcontact .get-touch form textarea:focus {
	border-bottom: 1px solid #323232;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease
}

.met-index-bottomcontact .get-touch form textarea {
	height: 100px
}

.met-index-bottomcontact .get-touch form .form-group {
	margin-bottom: 12px
}

.met-index-bottomcontact .get-touch form button.submit {
	background-color: #202020;
	color: #fff;
	margin-top: 10px;
	font-weight: 500;
	padding: 4px 20px;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	line-height: 34px;
	border: none;
	outline: 0;
	letter-spacing: .03em;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease
}

.met-index-bottomcontact .get-touch form button.submit:hover {
	background: #f39c12;
	color: #fff
}

.met-index-links h3 span:after,
.met-index-links h3 span:before {
	background: #ccc;
	content: "";
	height: 1px;
	left: 0
}


@media (max-width:767px) {
	.met-index-bottomcontact .get-touch {
		padding: 40px 15px 20px!important
	}
}



/*脚部*/
.ecofootbg .met-links .breadcrumb>li a,
.ecofootbg .navfoot .breadcrumb>li a {
	color: #323232
}
.breadcrumb{
	margin-bottom: 10px;
	background: none;
}
.ecofootbg .met-links .breadcrumb>li+li:before,
.ecofootbg .navfoot .breadcrumb>li+li:before {
	color: #aaa
}

.ecofootbg .met-links li,
.ecofootbg .navfoot li {
	color: #323232
}

.ecofootbg footer {
	border: 0;
	padding: 40px 0 60px;
	color: #323232;
	background: #fafafa
}

.ecofootbg footer a {
	color: #323232!important;
	border-color: #323232!important;
	text-transform: uppercase;
	letter-spacing: .1rem
}

.ecofootbg footer p {
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #323232
}

.ecofootbg footer .footer-logo {
	text-align: center;
	margin: 10px 0 30px
}

.ecofootbg footer .social {
	font-size: 14px;
	margin-bottom: 14px;
	text-align: center
}

.ecofootbg footer .social li {
	display: inline-block;
	vertical-align: bottom
}

.ecofootbg footer .social li a {
	display: block;
	margin: 0 1rem;
	width: 34px;
	float: left;
	height: 34px;
	color: #686868!important;
	text-align: center;
	border-radius: 50%
}

.ecofootbg footer .social li a:hover {
	background-color: #323232!important;
	color: #fff!important;
	border-color: #323232!important
}

.ecofootbg footer .social li a:hover i {
	color: #fff!important
}

.ecofootbg footer .social li a i {
	line-height: 34px
}

.ecofootbg .met-langlist button {
	border-color: #323232!important;
	color: #323232!important;
	background: 0 0!important
}

.ecofootbg .met-langlist a {
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease
}

.ecofootbg .met-langlist:hover button {
	border-color: #f39c12!important;
	color: #f39c12!important;
	background: 0 0!important
}

.ecofootbg .met-langlist .modal-content a.btn {
	border-color: #323232!important;
	color: #323232!important;
	background: 0 0!important
}

.ecofootbg .met-langlist .modal-content a.btn:hover {
	color: #f39c12!important
}


/*返回顶部*/
.met-scroll-top {
	position: fixed;
	right: 10px;
	bottom: -100px;
	z-index: 10
}
.btn{padding: 8px 6px;}
.btn-primary {
    background: #323232 !important;
    color: #fff !important;
    border-color: #323232 !important;
}

.btn .wb-chevron-up {
   display: block;
    width: 15px;
    height: 15px;
    border: 2px;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 7px 0 0 2px;
    line-height: inherit;
    text-align: center;
}