<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html" charset="UTF-8">
		<meta name="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>	
		<meta name="format-detection" content="telephone=yes"/>
		<title>波西米亚软装-BoheMia</title>
		<meta name="keywords" content="波西米亚软装">
			
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/BoHeMia.css"/>
		<link rel="stylesheet" type="text/css" href="css/responsive2.css"/>
		
		<script src="js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/wow.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/BoHeMia.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--导航-->
		<div class="econav scrollT">
			<nav class="navbar navbar-default">
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="BoheMia.html">
			      	<img src="img/1494749773.png"/ style="margin-top: -5px;">
			      </a>
			    </div>
			
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="BoheMia.html">网站首页</a></li>
			        <li><a href="#">关于</a></li>
			        <li><a href="#">产品商城</a></li>
			        <li><a href="#">博客</a></li>
			        <li><a href="#">专题系列</a></li>
			      </ul>
			     
			      <div class="nav navbar-nav navbar-right visible-lg-block visible-md-block">
			         <form class="navbar-form navbar-left" id="form10">
				        <div class="input-group">
				          <input type="text" class="form-control" placeholder="Search" id="search">
				          	<ul class="search-content">
				          		
				          		<!--<li>1</li>
				          		<li>2</li>
				          		<li>3</li>-->
				          	</ul>
				          <div class="input-group-addon" id="result" style="cursor: pointer;">
				          	<span class="glyphicon glyphicon-search"></span>
				          </div>
				        </div>
			      	</form>
			      </div>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			
						
		
		</div>
			
			
			<!--轮播图-->
			<div id="main-slider" class="carousel slide vertical" data-ride="carousel">
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active" >
			      <img src="img/banner01.jpg" alt="">
			    </div>
			    <div class="item">
			      <img src="img/banner02.jpg" alt="">
			    </div>
			  </div>
			
			  <!-- Controls -->
			  <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev" style="width: 70px;height: 60px;position: absolute;top: 50%;left: 0px;background: url(img/bg1.png) no-repeat center;">
			  </a>
			  <a class="right carousel-control" href="#main-slider" role="button" data-slide="next" style="width: 70px;height: 60px;position: absolute;top: 50%;right: 20px;background: url(img/bg2.png) no-repeat center;">
			  </a>
			</div>
						
						
		</div>
		
		
		<!--<div class="ecobanner"></div>-->
		
		<!--产品展示-->
		<div id="case" class="met-index-body met-index-case">
			<div class="container-fluid">
				<h3 class="wow slideInUp"><a href="#" target="_blank">产品展示</a></h3>
				<p class="desc wow fadeIn">家居设计简单的说，就是家庭居住环境<br>
办公场所、公共空间或者是商业空间的整体陈设风格以及饰品设计搭配</p>
				<ul class="blocks-2 blocks-sm-2 blocks-md-4 block-xlg-4 block met-grid">
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0001.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>绿植搭配</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
					
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0002.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>绿植墙</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
					
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0003.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>小型温室绿植</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
					
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0004.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>绿植摆件</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
					
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0005.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>花器</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
					
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0006.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>FIN懒人小方椅</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
					
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0007.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>圆形玻璃灯</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
					
					<li class="shown">
						<div class="single-advisor">
							<div class="img-holder">
								<div class="cover overlay"><img src="img/0008.jpg" class="cover-image overlay-scale"/></div> 
								<a href="#" class="overlays">
									<div class="inner">
										<div class="social">
											<h4>Tapani table</h4>
											<p></p>
										</div>
									</div>
								</a>
							</div>
						</div>						
					</li>
				</ul>
			</div>
		</div>
		
		<!--宣传视频-->
		<div id="video" class="met-index-video met-index-body">
			<div class="container">
				<ul class="blocks-100 blocks-md-2 blocks-xlg-2 blocks">
					<li>
						<div class="wp-wrapper">
							<div class="wpb-wrapper" style="position: relative;">
								<!--<a href="#" class="iframe-video dt-play-video" href="http://www.xapraha.com/upload/file/123456.mp4">Play Video <i class="fa fa-play"></i></a>-->
								<video controls="" style="position:absolute; top:0; left:0; width:100%; height:100%">
									<source src="http://www.xapraha.com/upload/file/123456.mp4" type="video/mp4"></source>
										<source src="myvideo.mp4" type="video/mp4"></source>
										<source src="myvideo.ogv" type="video/ogg"></source>
										<source src="myvideo.webm" type="video/webm"></source>
										<object width="" height="" type="application/x-shockwave-flash" data="myvideo.swf">
											<param name="movie" value="myvideo.swf" />
											<param name="flashvars" value="autostart=true&amp;file=myvideo.swf" />
										</object>
										当前浏览器不支持 video直接播放，点击这里下载视频： <a href="myvideo.webm">下载视频</a>
									</video>
								</video>
							</div>
						</div>
					</li>
					<li>
						<div class="video-right">
							<h3 class="wow slideInUp"><a href="#">宣传视频</a></h3>
							<div class="wpb-wrapper">
								<p style="text-indent: 2em;">家装设计是指家庭装修设计，在家庭正式装潢开工前进行功能格局上的规划设计，各空间界面的装饰设计。家装设计中的配色没有难看的颜色，只有不和谐的配色。在一所房子中，色彩的使用还蕴藏着健康的学问。太强烈刺激的色彩，易使人产生烦躁的感觉或影响人的心理健康，把握一些基本原则，家庭装饰的用色并不难。</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<!--关于我们-->
		<div id="about" class="met-index-about met-index-body">
			<div class="container-fluid">
				<ul class="blocks-100 blocks-md-2 blocks-xlg-2 blocks">
					<li class="pull-right">
						<div class="wp-wrapper"></div>
					</li>
					<li class="pull-left">
						<div class="about-right">
							<div class="wpb-wrapper">
								<div class="dt-about-elem wow slideInUp">
									<a href="#" title="关于我们">
										<div class="dt-about-icon">
											<span class="icon-layers"></span>
										</div>
										<div class="dt-about-content">
											<h4 class="dt-about-title">关于我们</h4>
											<p>company profile:“布拉格装饰设计”是一家精品创意型室内设计施工公司，也是一个成长型与</p>
										</div>
									</a>
								</div>
								<div class="dt-about-elem wow slideInUp">
									<a href="#" title="联系">
										<div class="dt-about-icon">
											<span class="icon fa-"></span>
										</div>
										<div class="dt-about-content">
											<h4 class="dt-about-title">联系</h4>
											<p>波西米亚软装有限公司EMAIL：16399396@qq.comADDRESS：陕西省西安市未央区立交</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		
		<!--联系我们-->
		<div id="ecocontact" class="met-index-ecocontact met-index-body">
			<div class="container-fluid">
				<div>
					<div class="dazzle-cta">
						<h3>有什么好的想法跟我们说？</h3>
						<a href="#" class="smooth-scroll">联系我们</a>
					</div>
				</div>
				
			</div>
		</div>
		
		<!--数据统计-->
		<div id="econum" class="met-index-econum met-index-body">
			<div class="container">
				<ul class="blocks-2 blocks-md-4 blocks-xlg-4">
					<li class="wow slideInDown" data-plugin="appear">
						<div class="counter-item counter-wrapper">
						    <span class="counter-econumber" data-decimals="0" data-from="1" data-to="25" data-speed="2000">25</span>
							<div class="zig-zag"></div>
							<span class="counter-text">热销城市</span>
					  	</div>
					</li>
					<li class="wow slideInDown" data-plugin="appear">
						<div class="counter-item counter-wrapper">
						    <span class="counter-econumber" data-decimals="0" data-from="1" data-to="99" data-speed="2000">99</span>
							<div class="zig-zag"></div>
							<span class="counter-text">线下门店</span>
						  </div>
					</li>
					<li class="wow slideInDown" data-plugin="appear">
						<div class="counter-item counter-wrapper">
						    <span class="counter-econumber" data-decimals="0" data-from="1" data-to="166" data-speed="2000">166</span>
							<div class="zig-zag"></div>
							<span class="counter-text">会员代理</span>
						</div>
					</li>
					<li class="wow slideInDown" data-plugin="appear">
						<div class="counter-item counter-wrapper">
						    <span class="counter-econumber" data-decimals="0" data-from="1" data-to="500" data-speed="2000">500</span>
							<div class="zig-zag"></div>
							<span class="counter-text">每日销量</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		
		
		<!--博客文章-->
		<div class="met-index-news met-index-body" id="news" >
			<div class="container">
				<h3 class="wow slideInUp">
					<a href="news/" title="博客文章" target='_self'>博客文章</a>
				</h3>
				<p class="desc wow fadeIn">家居陈设是指在某个空间内将家具摆设、家居配饰、家居软装饰<br>等装饰性元素通过系统地设计，将所要表达的意境呈现在整个空间内，从而满足人们的物质和精神追求。</p>
				<ul id="news-grid" class="blocks-100 blocks-sm-2 blocks-md-3 blocks-xlg-3  met-grid">
					<li class="wow slideInUp">
						<div class="img-holder">
						 	<a href="news/news52.html" title="择一城开家小店，遇一人白头到老" target='_self'>
								<div class="cover overlay overlay-hover">
									<img class="cover-image overlay-scale" src="img/1494817560511744.jpg" alt="择一城开家小店，遇一人白头到老" title="择一城开家小店，遇一人白头到老">
								</div>
							</a>
							<div class="details">
								<span>2017-05-18</span>
								<h4> <a href="news/news52.html"  title="择一城开家小店，遇一人白头到老" target='_self'><span>择一城开家小店，遇一人白头到老</span></a></h4>
								<p>用旧的汽车外胎，我拾回来洗清洁，平放在席..</p>
							</div>
						</div>
					</li>

					<li class="wow slideInUp">
						<div class="img-holder">
							<a href="news/news54.html" title="略带陈旧感的波西米亚家居，仿佛身处神秘国度" target='_self'>
								<div class="cover overlay overlay-hover">
									<img class="cover-image overlay-scale" src="img/1495080832.jpg" alt="略带陈旧感的波西米亚家居，仿佛身处神秘国度" title="略带陈旧感的波西米亚家居，仿佛身处神秘国度">
								</div>
							</a>
							<div class="details">
								<span>2017-05-18</span>
								<h4> <a href="news/news54.html"  title="略带陈旧感的波西米亚家居，仿佛身处神秘国度" target='_self'><span>略带陈旧感的波西米亚家居，仿佛身处神秘国度</span></a></h4>
								<p>当你情绪匮乏，整个人困顿不堪的时候却看到..</p>
							</div>
						</div>

					</li>

					<li class="wow slideInUp">
						<div class="img-holder">
							<a href="news/news50.html" title="五个布置方法 让客厅玩转波西米亚风" target='_self'>
								<div class="cover overlay overlay-hover">
									<img class="cover-image overlay-scale" src="img/1495081403.png" alt="五个布置方法 让客厅玩转波西米亚风" title="五个布置方法 让客厅玩转波西米亚风">
								</div>
							</a>
							<div class="details">
								<span>2017-05-18</span>
								<h4> <a href="news/news50.html"  title="五个布置方法 让客厅玩转波西米亚风" target='_self'><span>五个布置方法 让客厅玩转波西米亚风</span></a></h4>
								<p>波西米亚风是很多人都比较喜欢的一种风格，..</p>
							</div>
						</div>

					</li>

					<li class="wow slideInUp">
						<div class="img-holder">
							<a href="news/news58.html" title="设计师做软装布置的10个秘诀" target='_self'>
								<div class="cover overlay overlay-hover">
									<img class="cover-image overlay-scale" src="img/1495081875.png" alt="设计师做软装布置的10个秘诀" title="设计师做软装布置的10个秘诀">
								</div>
							</a>
							<div class="details">
								<span>2017-05-18</span>
								<h4> <a href="news/news58.html"  title="设计师做软装布置的10个秘诀" target='_self'><span>设计师做软装布置的10个秘诀</span></a></h4>
								<p>关于家居设计，不少网友都觉得是很专业的事..</p>
							</div>
						</div>

					</li>

					<li class="wow slideInUp">
						<div class="img-holder">
							<a href="news/news57.html" title="2017当性冷淡遇到波西米亚，让家变的更舒适#fashion趋势#" target='_self'>
								<div class="cover overlay overlay-hover">
									<img class="cover-image overlay-scale" src="img/1495081025.jpg" alt="2017当性冷淡遇到波西米亚，让家变的更舒适#fashion趋势#" title="2017当性冷淡遇到波西米亚，让家变的更舒适#fashion趋势#">
								</div>
							</a>
							<div class="details">
								<span>2017-05-18</span>
								<h4> <a href="news/news57.html"  title="2017当性冷淡遇到波西米亚，让家变的更舒适#fashion趋势#" target='_self'><span>2017当性冷淡遇到波西米亚，让家变的更舒适#fashion趋势#</span></a></h4>
								<p>时尚和潮流是动态的，不断变化的，比如在2..</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		
		
		<!--联系我们-->
		<div id="bottomcontact" class="met-index-bottomcontact met-index-body">
			<div class="container">
				<h3 class="wow slideInUp"><a href="#">联系我们</a></h3>
				<p class="desc wow fadeIn">欢迎更多公司成为我们的合作伙伴</p>
				<ul class="blocks-100 blocks-sm-1 blocks-md-3 blocks-xlg-3">
					<li class="wow slideInDown">
						<div class="counter-item">
							<span class="counter-number">EMAIL</span>
							<span class="counter-text">16399396@qq.com</span>
					   	</div>
					</li>
					<li class="wow slideInUp">
						<div class="counter-item">
						  	<span class="counter-number">ADDRESS</span>
						  	<span class="counter-text">陕西省西安市未央区<br>立交大明宫中央广场B座1808室</span>
					   	</div>
					</li>
					<li class="wow slideInUp">
						<div class="counter-item">
						  	<span class="counter-number">PHONE</span>
						  	<span class="counter-text">+86-13501588825</span>
					   	</div>
					</li>
				</ul>
			</div>
			
			
			<div class="container-fluid">
				<div class="row">
					<div class="get-touch col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<h4 class="small-title wow slideInUp"><a href="#">给我们留言</a></h4>
						<p class="desc wow fadeIn">如果您有什么建议，请立即联系我</p>
						<form action="">
							<button type="submit" class="fv-hidden-submit disabled" style="display: none; width: 0px; height: 0px;"></button>
							<input type="hidden" name="lang" value="cn">
							<div class="form-group">
								<div>
									<input name="para132" class="form-control" type="text" placeholder="您的姓名 ">
								</div>
							</div>
							<div class="form-group">
								<div>
									<input name="para130" class="form-control" type="text" placeholder="您的邮箱 " data-fv-notempty="true" data-fv-message="不能为空" data-fv-field="para130">
								</div>
								<small class="help-block" data-fv-validator="notEmpty" data-fv-for="para130" data-fv-result="NOT_VALIDATED" style="display: none;">不能为空</small>
							</div>
							<div class="form-group">
								<div>
									<textarea name="para129" class="form-control" data-fv-notempty="true" data-fv-message="不能为空" placeholder="反馈内容 " rows="5" data-fv-field="para129"></textarea>
								</div>
								<small class="help-block" data-fv-validator="notEmpty" data-fv-for="para129" data-fv-result="NOT_VALIDATED" style="display: none;">不能为空</small>
							</div>
							
							<button class="submit btn-squared" type="submit">提交留言</button>
						</form>
					</div>
					
					<div class="partner col-lg-6 col-md-6"><p><img src="img/map.png"/></p></div>
				</div>
			</div>
			
		</div>
		
		<!--底部-->
		<div class="ecofootbg">	
			<footer>
				<div class="footer-logo">
				    <a href="BoheMia.html" title="BoheMia"><img src="img/1494749773.png" alt="BoheMia" title="BoheMia"></a>
				</div>
				<ul class="social"></ul>
				<div class="navfoot  text-center">
					<div class="container">
						<ul class="breadcrumb">
							<li><a href="about/about19.html" title="关于">关于</a></li>
							<li><a href="product/" title="产品商城">产品商城</a></li>
							<li><a href="news/" title="博客">博客</a></li>
							<li><a href="series/" title="专题系列">专题系列</a></li>
						</ul>
					</div>
				</div>
				
			    <div class="container text-center">
					<p>深圳布拉格空间设计公司-波西米亚软装 </p>
					<p>陕西省西安市未央区立交大明宫中央广场B座1808室</p>
					<p>孟总：13501588825<br>屈总：18066699090</p>
					<p></p><p>西安猛兽广告公司技术支持<br></p><p></p>
					<div class="powered_by_metinfo">Powered&nbsp;by&nbsp;<a href="http://www.MetInfo.cn/#copyright" target="_blank" title="企业网站管理系统">MetInfo</a>&nbsp;5.3.16</div>
			    </div>
			</footer>
		</div>
		
		<!--返回顶部-->
		<button type="button" class="btn btn-primary met-scroll-top hidden-sm hidden-md hidden-lg" id="toTop">
			<i class="wb-chevron-up"></i>
		</button>
	</body>
	<script>
		//	动画
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
			var wow = new WOW({
				boxClass: 'wow',
				animateClass: 'animated',
				offset: 150,
				mobile: true,
				live: true
			});
	
			wow.init();
		};
	
	</script>
</html>
